<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akar.aakar">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quick Nurse"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.akar.aakar.activityShareReceiver"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akar.aakar.TransactionSuccessfulActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.akar.aakar.activityAboutUsSR"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityTandCSR"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityEditProfileSR"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityEditProfileSP"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activity_order_notification"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.BookSP"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityBookFinalSP"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityShare"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activitySignUpSR"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.acctivityTandC"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityAboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityNotifcationsSR"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityNotifcations"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.MainActivityReceiver"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.ActivityMyOrdersSP"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityLoginSP"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityLoginSR"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activtiyHelp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.display.ShowOrdersSR"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityLoginOption"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activitySignupSP"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activityProfileSR"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.display.ShowOrdersSP"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akar.aakar.activitySplash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- [START firebase_service] -->
        <service
            android:name="com.akar.aakar.utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>