<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aakar">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My Care"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".activityShareReceiver"
            android:screenOrientation="portrait"/>
        <activity android:name=".TransactionSuccessfulActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activityAboutUsSR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityTandCSR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEditProfileSR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEditProfileSP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_order_notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookSP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityBookFinalSP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".display.activityAllServiceProviders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityShare"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySignUpSR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".acctivityTandC"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityAboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityNotifcationsSR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityNotifcations"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityReceiver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMyOrdersSP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityLoginSP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityLoginSR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activtiyHelp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".display.ShowOrdersSR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityLoginOption"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySignupSP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityProfileSR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".display.ShowOrdersSP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySplash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- [START firebase_service] -->
        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>